<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>NotifyMe</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If a computer can detect this device by broadcasting a message on the specified port. (Recommended)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>discoverable</string>
			<key>label</key>
			<string>Discoverable</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The port on which the device communicates with the computer. Make sure that it isn't blocked on your wifi. MUST BE EQUAL TO THE PORT SPECIFIED ON THE COMPUTER!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>1337</string>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>port</string>
			<key>label</key>
			<string>Port</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The key, which you will have to enter on your computer.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>CHANGE THIS</string>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>key</string>
			<key>label</key>
			<string>Key</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Filter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>filterType</string>
			<key>label</key>
			<string>Filter</string>
			<key>shortTitles</key>
			<array>
				<string>Whitelist</string>
				<string>Blacklist</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Whitelist</string>
				<string>Blacklist</string>
			</array>
			<key>validValues</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.runtimeoverflow.notifymeprefs.filter.plist</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>supress-hidden-apps</key>
					<true/>
					<key>icon-size</key>
					<integer>29</integer>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Applications</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Display &amp; Sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>defaultBehaviour</string>
			<key>label</key>
			<string>Default</string>
			<key>shortTitles</key>
			<array>
				<string>Default</string>
				<string>Sound only</string>
				<string>Silent</string>
				<string>None</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Sound only</string>
				<string>Silent</string>
				<string>None</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>3</integer>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>ringerBehaviour</string>
			<key>label</key>
			<string>Ringer</string>
			<key>shortTitles</key>
			<array>
				<string>Default</string>
				<string>Sound only</string>
				<string>Silent</string>
				<string>None</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Sound only</string>
				<string>Silent</string>
				<string>None</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>3</integer>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.runtimeoverflow.notifymeprefs</string>
			<key>key</key>
			<string>dndBehaviour</string>
			<key>label</key>
			<string>Do Not Disturb</string>
			<key>shortTitles</key>
			<array>
				<string>Default</string>
				<string>Sound only</string>
				<string>Silent</string>
				<string>None</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Sound only</string>
				<string>Silent</string>
				<string>None</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>3</integer>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
